body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f6;
    color: #333;
}

header {
    background-color: #f6b1d2;
    padding: 12px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-left a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-center a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-center a:hover {
    color: #580a45;
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
}

.nav-right a:hover {
    text-decoration: underline;
}

.dropbtn {
    background-color: #f092b0;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffe1f0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    min-width: 160px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main.content {
    padding: 40px;
    text-align: center;
}
